VITE_SUPABASE_URL=https://jrxydghwkyjnflbqiffs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpyeHlkZ2h3a3lqbmZsYnFpZmZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NjM4MjcsImV4cCI6MjA5MjMzOTgyN30.Ky7jSSiyhe_ZA37gpS5GEcsq9cbUKVDcPJDYTDwdCGQ
